<!-- Listing Table-->
<p-table #dt [columns]="cols" [value]="ressources" selectionMode="multiple" [(selection)]="selectedRessources"
[paginator]="true" [rows]="10"
[responsive]="true" dataKey="matricule" [resizableColumns]="true" [autoLayout]="true"
[rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" totalRecords="{{totalRecords}}"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
  <ng-template pTemplate="caption" >
    <div class="d-flex justify-content-between">
      <div>Liste des Ressources</div>
      <div class="d-flex justify-content-around ">
        <div class="input-group input-group-sm mb-3" style="width: fit-content;">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="pi pi-search"></i></span>
          </div>
          <input pInputText type="text" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" aria-describedby="basic-addon1">
        </div>
        &nbsp;
        <div>
        <button type="button" class="btn btn-success btn-sm" (click)="dt.exportCSV({selectionOnly:true})">
          <i class="pi pi-file-excel"></i>Exporter</button>
        </div>
        &nbsp;
        <div>
          <button type="button" class="btn btn-primary btn-sm" (click)="showAddingDialogPosition()"><i class="pi pi-plus"></i>Ajouter</button>
        </div>
    </div>
    </div>
  </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr style="text-align: left;">
          <!--<th></th>-->
          <th pSortableColumn="matricule"><p-tableHeaderCheckbox></p-tableHeaderCheckbox> &nbsp;Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
          <th pSortableColumn="nomRessource">Nom <p-sortIcon field="nomRessource"></p-sortIcon></th>
          <th pSortableColumn="prenomRessource">Prenom <p-sortIcon field="prenomRessource"></p-sortIcon></th>
          <th pSortableColumn="poste.nomPoste">Poste <p-sortIcon field="poste.nomPoste"></p-sortIcon></th>
          <th pSortableColumn="rate">Rate <p-sortIcon field="rate"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="telephone">Téléphone <p-sortIcon field="telephone"></p-sortIcon></th>
          <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
          <th pSortableColumn="audit.updatedOn">Dernière modification <p-sortIcon field="audit.updatedOn"></p-sortIcon></th>
          <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" >
        <tr class="ui-selectable-row">
          <!-- <td></td>-->
          <td><p-tableCheckbox [value]="rowData"></p-tableCheckbox> &nbsp;{{rowData?.matricule}}</td>
          <td>{{rowData?.prenomRessource}}</td>
          <td>{{rowData?.nomRessource}}</td>
          <td>{{rowData?.poste?.nomPoste}}</td>
          <td> <p class="alert alert-{{rate_background_color[rowData?.rate-1]}}" role="alert">{{rowData?.rate}}&#x2605;</p></td>
          <td>{{rowData?.email}}</td>
          <td>{{rowData?.telephone}} </td>
          <td>{{rowData?.adresse}}</td>
          <td>Date: {{rowData?.audit?.updatedOn | date}} <br> Par: {{rowData?.audit?.updatedBy}}</td>
          <td style="text-align:center">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="showDetailsDialogPosition(rowData)"><i class="pi pi-search"></i></button>
            &nbsp;
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="showAddingDialogPosition(rowData)"><i class="pi pi-pencil"></i></button>
        </td>
          </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="8" style="text-align:left">No data found.</td>
      </tr>
  </ng-template>
</p-table>
<!--Ressources Details Modal-->
<p-dialog header="&#9776; {{selectedRessource?.nomRessource|uppercase}} {{selectedRessource?.prenomRessource|uppercase}} &#x2605;{{selectedRessource?.rate}}"
[(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">

      <div class="d-flex justify-content-between">
        <div>A9{{selectedRessource?.matricule}}cd</div>
        <div><h4><span class="badge badge-danger">{{selectedRessource?.poste?.nomPoste}}</span></h4></div>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div class="flex-row justify-content-start">
          <div class="alert alert-secondary" role="alert">
                Détails
          </div>
          <div>
            <table class="table table-borderless table-responsive">
              <tr>
                <th>Email</th>
                <td style="text-align:end">{{selectedRessource?.email}}</td>
              </tr>
              <tr>
                <th>Adresse</th>
                <td style="text-align:end">{{selectedRessource?.adresse}}</td>
              </tr>
              <tr>
                <th>Téléphone</th>
                <td style="text-align:end">{{selectedRessource?.telephone}}</td>
              </tr>
              <tr>
                <th>Ancienneté à DXC </th>
                <td style="text-align:end">{{selectedRessource?.nbr_annee_dxc}}</td>
              </tr>
              <tr>
                <th>Ancienneté global</th>
                <td style="text-align:end">{{selectedRessource?.nbr_annee_global}}</td>
              </tr>
              <tr>
                <th>Superiorité</th>
                <td style="text-align:end">{{selectedRessource?.niveau_superiorite}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <table class="table table-hover table-responsive" style="text-align: center;">
           <thead>
              <tr>
                <th scope="col">Certification</th>
                <th scope="col">Maîtrise</th>
                <th scope="col">Année </th>
                <th scope="col">Obtenue à DXC</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cerification of certifications">
                <th scope="row">{{cerification?.certification?.intitule}}</th>
                <td>{{cerification?.niveau_de_maitrise}}</td>
                <td>{{cerification?.annee_obtention}}</td>
                <td *ngIf="cerification?.obtenue_a_dxc">Oui</td>
                <td *ngIf="!cerification?.obtenue_a_dxc">Non</td>
              </tr>
            </tbody>-
          </table>
        </div>
      </div>
      <p-footer>
            <!--<button type="button" pButton icon="pi pi-check" (click)="displayPosition=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayPosition=false" label="No" class="ui-button-secondary"></button>-->
        </p-footer>
</p-dialog>
<!-- Adding and editing Ressources modal-->
<p-dialog header="Nouvelle Ressource" [(visible)]="displayAddingPosition" [style]="{width: '50vw'}" [baseZIndex]="10000" [closable]="false"
[draggable]="false">
  <form [formGroup]="AddingForm" (ngSubmit)="onSubmitAdding()" >
    <div class="row">
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Nom :</label>
        <input type="text" class="form-control" [(ngModel)]="newRessource.nomRessource" required formControlName="nomRessource">
      </div>
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Prenom :</label>
        <input type="text" class="form-control" [(ngModel)]="newRessource.prenomRessource" required formControlName="prenomRessource">
      </div>
    </div>
    <div class="form-group input-group-sm mb-3">
      <label class="control-label">Matricule :</label>
      <input type="text" class="form-control" [(ngModel)]="newRessource.matricule" required formControlName="matricule">
    </div>
    <div class="form-group input-group-sm mb-3">
      <label class="control-label">Poste :</label> &nbsp;
      <select class="form-control" id="poste" formControlName="poste" [(ngModel)]="idNewRessourcePoste">
        <option *ngFor="let poste of postes" [value]="poste.idPoste">{{poste?.nomPoste}}</option>
      </select>
    </div>
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Rate :</label>
        <input type="number" class="form-control" max="5" min="1" [(ngModel)]="newRessource.rate" required formControlName="rate" placeholder="1 à 5">
      </div>
      <div class="form-group input-group-sm mb-3">
        <label class="control-label">Superiorité :</label> &nbsp;
        <input type="radio" name="niveau_superiorite" value="Default" [(ngModel)]="newRessource.niveau_superiorite"  formControlName="niveau_superiorite">&nbsp;Default &nbsp;
        <input type="radio" name="niveau_superiorite" value="Architecte" [(ngModel)]="newRessource.niveau_superiorite"  formControlName="niveau_superiorite">&nbsp;Architecte &nbsp;
        <input type="radio" name="niveau_superiorite" value="DL" [(ngModel)]="newRessource.niveau_superiorite"  formControlName="niveau_superiorite">&nbsp;DL &nbsp;
        <input type="radio" name="niveau_superiorite" value="CM" [(ngModel)]="newRessource.niveau_superiorite"  formControlName="niveau_superiorite">&nbsp;CM &nbsp;
        <input type="radio" name="niveau_superiorite" value="DSL" [(ngModel)]="newRessource.niveau_superiorite"  formControlName="niveau_superiorite">&nbsp;DSL &nbsp;
      </div>
    <div class="row">
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Email :</label>
        <input type="email" class="form-control" [(ngModel)]="newRessource.email" required formControlName="email" placeholder="ressource@dxc.com">
      </div>
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Téléphone :</label>
        <input type="number" class="form-control" [(ngModel)]="newRessource.telephone" required formControlName="telephone" placeholder="212611111111">
      </div>
    </div>
    <div class="form-group input-group-sm mb-3">
      <label class="control-label">Adresse :</label>
      <input type="text" class="form-control" [(ngModel)]="newRessource.adresse" required formControlName="adresse" placeholder="Ville, quartier...">
    </div>
    <div class="row">
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Ancienneté à DXC:</label>
        <input type="number" class="form-control" min="0" [(ngModel)]="newRessource.nbr_annee_dxc" required formControlName="nbr_annee_dxc" placeholder="nombre d'annéees">
      </div>
      <div class="col form-group input-group-sm mb-3">
        <label class="control-label">Ancienneté globale:</label>
        <input type="number" class="form-control" min="0" [(ngModel)]="newRessource.nbr_annee_global" required formControlName="nbr_annee_global" placeholder="nombre d'annéees">
      </div>
    </div>
    <div *ngIf="(isEdditing && (AddingForm.controls['nomRessource'].touched || AddingForm.controls['prenomRessource'].touched ||
     AddingForm.controls['email'].touched || AddingForm.controls['adresse'].touched ||AddingForm.controls['poste'].touched
     || AddingForm.controls['matricule'].touched )
      && AddingForm.invalid)"
      class="alert-danger">
        Tous les champs sont requis <br>
    </div><br>
    <!--Telephone validation-->
    <div *ngIf="((AddingForm.controls['telephone'].touched && AddingForm.controls['telephone'].invalid))"
      class="alert-danger">
        Numéro invalide: min 8 chiffres, max 12
    </div>
    <!--Matricule validation-->
    <div *ngIf="invalidMatricule" class="alert-danger">
      Matricule existe
    </div>
    <!--Niveau de supériorité-->
    <!--Email validation-->
    <div *ngIf="invalidEmail" class="alert-danger">
      Email existe
    </div>
    <!--Rate validation-->
    <div *ngIf="((AddingForm.controls['rate'].touched && AddingForm.controls['rate'].invalid))"
      class="alert-danger">
        rate entre 1 et 5
    </div>
    <!--Ancienneté globale validation-->
    <div *ngIf="((AddingForm.controls['nbr_annee_global'].touched && AddingForm.controls['nbr_annee_global'].invalid) ||
    (AddingForm.controls['nbr_annee_dxc'].touched && AddingForm.controls['nbr_annee_dxc'].invalid))"
      class="alert-danger">
       Ancienneté invalide
    </div>
  </form>
  <p-footer>
      <button [disabled]="AddingForm.invalid" type="submit" class="btn btn-primary btn-sm" (click)="onSubmitAdding()">Sauvegarder</button>
      <button type="button" (click)="resetData()"  class="btn btn-secondary btn-sm">Annuler</button>
  </p-footer>
</p-dialog>
