<p-table #dt [columns]="cols" [value]="certifications" selectionMode="multiple" [(selection)]="selectedCertifications" [paginator]="true" [rows]="10"
editMode="row" [responsive]="true" dataKey="idCertification" [rowsPerPageOptions]="[10,25,50]"
[rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" totalRecords="{{totalRecords}}"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
<ng-template pTemplate="caption" >
  <div class="d-flex justify-content-between">
    <div>Liste des Certifications</div>
    <div class="d-flex justify-content-around ">
      <div class="input-group mb-3" style="width: fit-content;">
        <div class="input-group-prepend">
          <span class="input-group-text" ><i class="pi pi-search"></i></span>
        </div>
        <input pInputText type="text" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" aria-describedby="basic-addon1">
      </div>
      &nbsp;
      <div>
      <button type="button" class="btn btn-success btn-sm" (click)="dt.exportCSV({selectionOnly:true})">
        <i class="pi pi-file-excel"></i>Exporter</button>
      </div>
      &nbsp;
      <div>
        <button type="button" class="btn btn-primary btn-sm"  data-toggle="collapse" data-target="#collapseAdding" aria-expanded="false" aria-controls="collapseAdding"><i class="pi pi-plus"></i>Nouveau</button>
      </div>
  </div>
  </div>
  <div class="collapse" id="collapseAdding">
    <div class="card card-body">
      <form class="form-inline" [formGroup]="AddingForm" (ngSubmit)="onSubmitAdding()">
        <div class="form-group input-group-sm mb-3">
          <input type="text" class="form-control" [(ngModel)]="newCertification.intitule" required formControlName="intitule" placeholder="Intitulé de la certification">
        </div> &nbsp;
        <div class="form-group input-group-sm mb-3">
          <input class="form-control" [(ngModel)]="newCertification.editeur" required formControlName="editeur" placeholder="Editeur">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="form-group input-group-sm mb-3">
          <button [disabled]="AddingForm.invalid" type="submit" class="btn btn-primary btn-sm">Ajouter</button>&nbsp;
          <button type="button" class="btn btn-secondary btn-sm" (click)="this.isAdding=false" data-toggle="collapse" data-target="#collapseAdding" aria-expanded="false" aria-controls="collapseAdding">Annuler</button>
        </div>
        <div *ngIf="(AddingForm.controls['intitule'].touched && AddingForm.controls['intitule'].invalid)"
          class="alert-danger">
          <div *ngIf="AddingForm.controls['intitule'].errors.required"> Champs requis</div>
        </div>
        <div *ngIf="(AddingForm.controls['editeur'].touched && AddingForm.controls['editeur'].invalid)"
        class="alert-danger">
        <div *ngIf="AddingForm.controls['editeur'].errors.required"> Champs requis</div>
      </div>
      </form>
    </div>
  </div>
</ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 60px;"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th pSortableColumn="intitule">Intitulé de la certification <p-sortIcon field="intitule"></p-sortIcon></th>
          <th pSortableColumn="editeur">Editeur <p-sortIcon field="editeur"></p-sortIcon></th>
          <th>Certifiés</th>
          <th pSortableColumn="audit.updatedOn">Dernière modification <p-sortIcon field="audit.updatedOn"></p-sortIcon></th>
          <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
        <tr class="ui-selectable-row" [pEditableRow]="rowData">
          <td style="width: 60px;">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>&nbsp;
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control" [(ngModel)]="rowData.intitule" required>
                </div>
             </ng-template>
              <ng-template pTemplate="output" [pRowToggler]="rowData">
                  {{rowData?.intitule}}
              </ng-template>
              </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" [(ngModel)]="rowData.editeur" required>
                  </div>
              </ng-template>
              <ng-template pTemplate="output">
                  {{rowData?.editeur}}
              </ng-template>
              </p-cellEditor>
          </td>
          <td><a routerLink="/certification/certified/{{rowData.idCertification}}">Voir la liste</a></td>
          <td>Date: {{rowData?.audit?.updatedOn}} <br> Par: {{rowData?.audit?.updatedBy}}</td>
          <td style="text-align:center">
            <button *ngIf="!editing" type="button" pInitEditableRow class="btn btn-primary btn-sm"><i class="pi pi-pencil"></i></button>
            <button *ngIf="editing" type="button" pSaveEditableRow  (click)="onEditSave(rowData)"  class="btn btn-success btn-sm" style="margin-right: .5em" ><i class="pi pi-check"></i></button>
            <button *ngIf="editing" type="button" pCancelEditableRow class="btn btn-secondary btn-sm"><i class="pi pi-times"></i></button>
        </td>
          </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="8" style="text-align:left">No Certifications found.</td>
      </tr>
  </ng-template>
</p-table>
<p-toast></p-toast>
